/**************************************************************************
Description: Master CSS for Brazilian Mist Tan
Version: 1.0.0
Author: Ajayi Agbebaku Jr
Notes: Check github for specific changes
**************************************************************************/

/* Carousel Styles */

.navbar-inverse .navbar-nav>li>a:hover {
  -webkit-animation: bounceIn 1s;
}
.booknow a {
  color: black;
  font-family: 'orator-std';
  border-color: black;
  background-color: transparent;
  width: 200px;
  text-transform: uppercase;
}
.btn-default:hover {
    color: #fff;
    background-color: #0a0a0a;
    border: none;
}

.booknow {
  text-align: center;
}
.bottom-border {
  border-bottom: 1px solid #adacac;
  margin-top: 50px;
  width: 800px;
  margin-left:100px;
}
.carousel-indicators li {
  display: none;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
  top: -12px;
}
.item:nth-child(1) {
  background-image:url('../images/jumbotronpureblkwhite.jpg');
  background-size: cover;
}
.item:nth-child(1) h1 {
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2px;
  padding-top: 50px;
  font-size: 50px;
}

.item:nth-child(2) {
  background-image: url('../images/servicebackgrnd.jpg');
  background-size: cover;
}

.item:nth-child(2) h1 {
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2px;
  padding-top: 50px;
  font-size: 40px;
}
.item:nth-child(3) {
  background-image: url('../images/palm_trees.JPG');
  background-size: cover;
}

.item:nth-child(3) h1 {
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2px;
  padding-top: 50px;
  font-size: 50px;
  padding-top: -50px;
}

/* ===========================================  Main CSS  ================================================ */

.col-md-3 {
  float: right;
}

.container {
  width: 1005px;
}

.container-fluid {
  padding: 0px;
}


.fa {
  color: white;
  margin-top: 25px;
  padding-left: 16px;
  padding-bottom: 8px;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #58cef2;
}

.fa-instagram:hover {
  color:#b5598a;
}

footer {
  background-color: #0a0a0a;
  bottom: 0;
  width: 100%;
  height: 75px;
  text-align: center;
}

.footer-nav {
  list-style-type: none;
}

.footer-nav li {
  display: inline;
  font-family: 'orator-std';
  margin-right: 20px;
  color: #3a3737;
  text-transform: uppercase;
}

.footer-nav a {
  color: #9d9d9d;
}

.footer-nav a:hover {
   text-decoration: none;
  color: white;
  -webkit-animation: bounceIn 1s;
}



.jumbotron h1 {
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
  font-size: 100px;
  margin-top: -25px;
  text-align: center;
}

.navbar {
  margin-top: -10px;
  font-family: 'orator-std', sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  background-color: #0a0a0a;
  height: 53px;
}

.input-group {
  margin-left: 140px;
  width: 150px;
}

.navbar-form {
  padding-top: 5px;
}

.navbar-form .input-group>.form-control {
  background: #0a0a0a;
  border-color: #3a3737;
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
  z-index: 2;
  margin-left: -1px;
  background: #0a0a0a;
  border-color: #3a3737;
}

.nav>li>a {
  position: relative;
  display: inline;
  padding: 10px 15px;
}

.navbar ul {
  margin-top: -5px;
}

.navbar li a {
  margin-left: 106px;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 80px;
  height: 10px;
  padding-top: 0;
}

.navbar-brand img {
  width: 120px;
  margin-top: 16px;
}


.top-border {
  border-bottom: 1px solid #adacac;
  width: 800px;
  margin-left: 100px;
  margin-bottom: 22px;
}

#pricing {
    background-color:#F5F3E0;
    height:900px;
    margin-top: -74px;
  }
  
/* =============================================== Pricing Tables ========================================================== */

 /*  Main Components 

-------------------------------- */
.cd-header {
  line-height: 170px;
  position: relative;
}
.cd-header h1 {
  text-align: center;
  font-size: 52px;
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    line-height: 280px;
  }
  .cd-header h1 {
    font-size: 55px;
    font-weight: 300;
    padding-top: 25px;
  }
}

.cd-pricing-container {
  width: 90%;
  max-width: 1170px;
  margin: 4em auto;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-container {
    margin: 6em auto;
  }
  .cd-pricing-container.cd-full-width {
    width: 100%;
    max-width: none;
  }
}

.cd-pricing-list {
  margin: 2em 0 0;
}
.cd-pricing-list > li {
  position: relative;
  margin-bottom: 1em;
  background-color: #FFFFFF;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Firefox bug - 3D CSS transform, jagged edges */
  outline: 1px solid transparent;
}
.cd-pricing-list > li::after {
  /* subtle gradient layer on the right - to indicate it's possible to scroll */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  pointer-events: none;
  background: -webkit-linear-gradient( right , #FFFFFF, rgba(255, 255, 255, 0));
  background: linear-gradient(to left, #FFFFFF, rgba(255, 255, 255, 0));
}
.cd-pricing-list > li.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-list {
    margin: 22px 0 0;
  }
  .cd-pricing-list:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-pricing-list > li {
    width: 33.3333333333%;
    float: left;
    list-style-type: none;
  }
  .cd-pricing-list > li::before {
    /* separator between pricing tables - visible when number of tables > 3 */
    content: '';
    position: absolute;
    z-index: 6;
    left: -1px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 50%;
    width: 1px;
    background-color: #b1d6e8;
  }
  .cd-pricing-list > li::after {
    /* hide gradient layer */
    display: none;
  }
  .cd-pricing-list > li.cd-popular {
    box-shadow: inset 0 0 0 3px #e97d68;
  }
  .cd-pricing-list > li.cd-popular::before {
    /* hide table separator for .cd-popular table */
    display: none;
  }
  .cd-pricing-list > li.cd-popular + li::before {
    /* hide table separator for tables following .cd-popular table */
    display: none;
  }
  .cd-has-margins .cd-pricing-list > li, .cd-has-margins .cd-pricing-list > li.cd-popular {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  .cd-secondary-theme .cd-pricing-list > li {
    background: #3aa0d1;
    background: -webkit-linear-gradient( bottom , #3aa0d1, #3ad2d1);
    background: linear-gradient(to top, #3aa0d1, #3ad2d1);
  }
  .cd-secondary-theme .cd-pricing-list > li.cd-popular {
    background: #e97d68;
    background: -webkit-linear-gradient( bottom , #e97d68, #e99b68);
    background: linear-gradient(to top, #e97d68, #e99b68);
    box-shadow: none;
  }
  .cd-pricing-list:nth-of-type(1)::before {
    /* hide table separator for the first table */
    display: none;
  }
  .cd-has-margins .cd-pricing-list > li {
    width: 32.3333333333%;
    float: left;
    margin-right: 1.5%;
    border-radius: 4px 4px 6px 6px;
  }
  .cd-has-margins .cd-pricing-list > li:last-of-type {
    margin-right: 0;
  }
  .cd-has-margins .cd-pricing-list > li::before {
    display: none;
  }
}
@media only screen and (min-width: 1500px) {
  .cd-full-width .cd-pricing-list > li {
    padding: 2.5em 0;
  }
}

@media only screen and (min-width: 768px) {
  .cd-popular .cd-pricing-wrapper > li::before {
    /* hide table separator for .cd-popular table */
    display: none;
  }
}
.cd-pricing-header {
  position: relative;
  z-index: 1;
  height: 80px;
  padding: 1em;
  pointer-events: none;
  background-color: #3aa0d1;
  color: #5f5f5f;
  font-family: 'Josefin Slab', serif;
}
.cd-pricing-header h2 {
  margin-bottom: 3px;
  font-weight: 700;
  text-transform: uppercase;
}
.cd-popular .cd-pricing-header {
  background-color: #e97d68;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-header {
    height: auto;
    padding: 1.9em 0.9em 1.6em;
    pointer-events: auto;
    text-align: center;
    color: #5f5f5f;
    background-color: transparent;
    font-family: 'Josefin Slab', serif;
  }
  .cd-popular .cd-pricing-header {
    color: #e97d68;
    background-color: transparent;
  }
  .cd-secondary-theme .cd-pricing-header {
    color: #FFFFFF;
  }
  .cd-pricing-header h2 {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
}

.cd-currency, .cd-value {
  font-size: 3rem;
  font-weight: 300;
}

.cd-duration {
  font-weight: 700;
  font-size: 1.3rem;
  color: #8dc8e4;
  text-transform: uppercase;
}
.cd-popular .cd-duration {
  color: #f3b6ab;
}
.cd-duration::before {
  content: '/';
  margin-right: 2px;
}

@media only screen and (min-width: 768px) {
  .cd-value {
    font-size: 7rem;
    font-weight: 300;
  }

  .cd-currency, .cd-duration {
    color: rgba(23, 61, 80, 0.4);
  }
  .cd-popular .cd-currency, .cd-popular .cd-duration {
    color: #e97d68;
  }
  .cd-secondary-theme .cd-currency, .cd-secondary-theme .cd-duration {
    color: #2e80a7;
  }
  .cd-secondary-theme .cd-popular .cd-currency, .cd-secondary-theme .cd-popular .cd-duration {
    color: #ba6453;
  }

  .cd-currency {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    font-size: 2rem;
    font-weight: 700;
  }

  .cd-duration {
    font-size: 1.4rem;
  }
}
.cd-pricing-body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-body {
    overflow-x: visible;
  }
}

.cd-pricing-features {
  width: 600px;
}
.cd-pricing-features:after {
  content: "";
  display: table;
  clear: both;
}
.cd-pricing-features li {
  width: 100px;
  float: left;
  padding: 1.6em 1em;
  font-size: 1.4rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cd-pricing-features em {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-features {
    width: auto;
  }
  .cd-pricing-features li {
    float: none;
    width: auto;
    padding: 1em;
  }
  .cd-popular .cd-pricing-features li {
    margin: 0 3px;
  }
  .cd-pricing-features li:nth-of-type(2n+1) {
    background-color: rgba(23, 61, 80, 0.06);
  }
  .cd-pricing-features em {
    display: inline-block;
    margin-bottom: 0;
  }
  .cd-has-margins .cd-popular .cd-pricing-features li, .cd-secondary-theme .cd-popular .cd-pricing-features li {
    margin: 0;
  }
  .cd-secondary-theme .cd-pricing-features li {
    color: #FFFFFF;
  }
  .cd-secondary-theme .cd-pricing-features li:nth-of-type(2n+1) {
    background-color: transparent;
  }
}

.cd-pricing-footer {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  /* on mobile it covers the .cd-pricing-header */
  height: 80px;
  width: 100%;
}
.cd-pricing-footer::after {
  /* right arrow visible on mobile */
  content: '';
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background: url(../img/cd-icon-small-arrow.svg);
}
@media only screen and (min-width: 768px) {
  .cd-pricing-footer {
    position: relative;
    height: auto;
    padding: 1.8em 0;
    text-align: center;
  }
  .cd-pricing-footer::after {
    /* hide arrow */
    display: none;
  }
  .cd-has-margins .cd-pricing-footer {
    padding-bottom: 0;
  }
}

.cd-select {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  /* hide button text on mobile */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}
@media only screen and (min-width: 768px) {
  .cd-select {
    position: static;
    display: inline-block;
    height: auto;
    padding: 1.3em 3em;
    color: #FFFFFF;
    border-radius: 2px;
    background-color: #0c1f28;
    font-size: 1.4rem;
    text-indent: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .no-touch .cd-select:hover {
    background-color: #112e3c;
  }
  .cd-popular .cd-select {
    background-color: #e97d68;
  }
  .no-touch .cd-popular .cd-select:hover {
    background-color: #ec907e;
  }
  .cd-secondary-theme .cd-popular .cd-select {
    background-color: #0c1f28;
  }
  .no-touch .cd-secondary-theme .cd-popular .cd-select:hover {
    background-color: #112e3c;
  }
  .cd-has-margins .cd-select {
    display: block;
    padding: 1.7em 0;
    border-radius: 0 0 4px 4px;
  }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  .bottom-border {
    width: 0px;
  }
  .container {
    width: 400px;
  }
  .jumbotron {
    width: 355px;
  }
  .jumbotron a {
    border: none;
  }
  .jumbotron h1 {
    font-size: 27px;
    margin-top: -8px;
    padding-left: 113px;
    text-transform: initial;
  }
  .navbar-brand {
    margin-left: 130px;
    margin-top: -11px;
  }
  .navbar-brand,
  .navbar-nav li a {
    line-height: 23px;
  }
  .navbar {
    background-color: black;
    margin: 0;
    height: initial;
  }
  .navbar-brand img {
    width: 158px;
    margin-top: 18px;
    margin-left: -15px;
  }
  .top-border {
    display: none;
  }
  
}


/* Small devices (tablets, 991px and up) */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .bottom-border {
    width: 500px;
  }
  .container {
    width: 768px;
  }
  .jumbotron {
    width: 700px;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .nav {
    padding-left: 555px;
  }
  .navbar {
    background-color: black;
    margin: 0;
    height: initial;
  }
  .navbar-brand,
  .navbar-nav li a {
    line-height: 23px;
  }
  .navbar-brand img {
    width: 158px;
    margin-top: 5px;
    margin-left: -15px;
  }
  .navbar-form {
    margin-left: -131px;
  }
  .top-border {
    width: 500px;
  }
}
/* Desktops*/
@media screen 
  and (min-device-width: 1400px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
    .navbar ul {
          margin-left: 109px;
    }
}
