 .navbar-inverse .navbar-nav>li>a:hover {
  -webkit-animation: bounceIn 1s;
}
.btn-default {
  color: black;
  font-family: 'orator-std';
  border-color: black;
  background-color: transparent;
  width: 200px;
  text-transform: uppercase;
}
.btn-default:hover {
    color: #fff;
    background-color: #0a0a0a;
    border: none;
}

.booknow {
  text-align: center;
}
.bottom-border {
  border-bottom: 1px solid #adacac;
  margin-top: 50px;
  width: 800px;
  margin-left:100px;
}

.col-md-3 {
  float: right;
}

.container {
  width: 1005px;
}

.container-fluid {
  padding: 0px;
}

.fa {
  color: white;
  margin-top: 25px;
  padding-left: 16px;
  padding-bottom: 8px;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #58cef2;
}

.fa-instagram:hover {
  color:#b5598a;
}

footer {
  background-color: #0a0a0a;
  bottom: 0;
  width: 100%;
  height: 75px;
  text-align: center;
}

.footer-nav {
  list-style-type: none;
}

.footer-nav li {
  display: inline;
  font-family: 'orator-std';
  margin-right: 20px;
  color: #3a3737;
  text-transform: uppercase;
}

.footer-nav a {
  color: #9d9d9d;
}

.footer-nav a:hover {
   text-decoration: none;
  color: white;
  -webkit-animation: bounceIn 1s;
}

.jumbotron {
  background-image: url("../images/jumbotronpureblkwhite.jpg");
  background-size: cover;
  height: 600px;
  margin-top: -21px;
  margin-bottom: -1px;
}

.jumbotron2 {
  background-image: url("../images/jumbotronpurefilter.jpg");
  background-size: cover;
  height: 600px;
  margin-top: -21px;
  margin-bottom: -1px;
}
  }
.jumbotron a {
    color: #000;
    border-color: #251f1f;
    font-family: 'orator-std';
    width: 220px;
    font-size: 20px;
    text-transform: uppercase;
    background: transparent;
}

.jumbotron a:hover{
-webkit-transition: background 500ms ease-in;
-moz-transition: background 500ms ease-in;
-ms-transition: background 500ms ease-in;
-o-transition: background 500ms ease-in;
transition: background 500ms ease-in;
}

.jumbotron h1 {
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
  font-size: 100px;
  margin-top: -25px;
  text-align: center;
}

.navbar {
  margin-top: -10px;
  font-family: 'orator-std', sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  background-color: #0a0a0a;
  height: 53px;
}

.input-group {
  margin-left: 140px;
  width: 150px;
}

.navbar-form {
  padding-top: 5px;
}

.navbar-form .input-group>.form-control {
  background: #0a0a0a;
  border-color: #3a3737;
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
  z-index: 2;
  margin-left: -1px;
  background: #0a0a0a;
  border-color: #3a3737;
}

.nav>li>a {
  position: relative;
  display: inline;
  padding: 10px 15px;
}

.navbar ul {
  margin-top: -5px;
}

.navbar li a {
  margin-left: 50px;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 80px;
  height: 10px;
  padding-top: 0;
}

.navbar-brand img {
  width: 120px;
  margin-top: 16px;
}
.services_jumbotron {
  background-image: url("../images/servicebackgrnd.jpg");
  height:500px;
  background-size:cover;
  margin-top: -25px;
  }

.top-border {
  border-bottom: 1px solid #adacac;
  width: 800px;
  margin-left: 100px;
  margin-bottom: 22px;
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  .bottom-border {
    width: 0px;
  }
  .container {
    width: 400px;
  }
  .jumbotron {
    width: 355px;
  }
  .jumbotron a {
    border: none;
  }
  .jumbotron h1 {
    font-size: 27px;
    margin-top: -8px;
    padding-left: 113px;
    text-transform: initial;
  }
  .navbar-brand {
    margin-left: 130px;
    margin-top: -11px;
  }
  .navbar-brand,
  .navbar-nav li a {
    line-height: 23px;
  }
  .navbar {
    background-color: black;
    margin: 0;
    height: initial;
  }
  .navbar-brand img {
    width: 158px;
    margin-top: 18px;
    margin-left: -15px;
  }
  .top-border {
    display: none;
  }
}


/* Small devices (tablets, 991px and up) */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .bottom-border {
    width: 500px;
  }
  .container {
    width: 768px;
  }
  .jumbotron {
    width: 700px;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .nav {
    padding-left: 555px;
  }
  .navbar {
    background-color: black;
    margin: 0;
    height: initial;
  }
  .navbar-brand,
  .navbar-nav li a {
    line-height: 23px;
  }
  .navbar-brand img {
    width: 158px;
    margin-top: 5px;
    margin-left: -15px;
  }
  .navbar-form {
    margin-left: -131px;
  }
  .top-border {
    width: 500px;
  }
}
/* Desktops*/
@media screen 
  and (min-device-width: 1400px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
    .navbar ul {
          margin-left: 109px;
    }
}
